
body {
    padding: 20rem;
    margin: auto;
    padding-top: 0rem;
}

body h2 {
    font-size: 3rem;
}

body h3 {
    font-size: medium;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

body h1 {
    font-size: 3rem;
}